<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.dao.IBlogDao">
	<insert id="add">
		insert into blog (`kid`,`uid`,`title`,`schema`,`content`,`datetime`) values (#{kid},#{uid},#{title},#{schema},#{content},#{datetime})
	</insert>
	<select id="findList" resultType="com.company.bean.Blog">
		select * from blog
	</select>
	<select id="findHotList" resultType="com.company.bean.Blog">
		select * from blog order by clicks desc limit 0,2
	</select>
	<select id="findIndexList" resultType="com.company.bean.Blog">
		select * from blog limit 0,8;
	</select>

	<select id="findListByUserId" resultType="com.company.bean.Blog">
		select * from blog where uid = #{uid}
	</select>
	<select id="findKindList" resultType="com.company.bean.Blog">
		select * from blog where kid = #{kid}
	</select>
	<select id="find" resultType="com.company.bean.Blog">
		select * from blog where id = #{id}
	</select>
	<delete id="delete">
		delete from blog where id = #{id}
	</delete>
	<update id="update">
		update blog
		<set>
			<if test="kid!=null">
				kid=#{kid},
			</if>
			<if test="title!=null">
				title=#{title},
			</if>
			<if test="schema!=null">
				schema=#{schema},
			</if>
			<if test="content!=null">
				content=#{content}
			</if>
		</set>
		where id=#{id}
	</update>



</mapper>